.root {
	-fx-font-family: "Comic Sans MS" ;	
	-fx-background-color: lightgoldenrodyellow ;
}
.hangman-board {
	-fx-background-color: blue;
	-fx-padding: 10px ;
	-fx-alignment: center ;
}

.hangman-board > .board-grid {
	-fx-background-color: white ;
	-fx-border-color: transparent ;
}

.hangman-board .label:disabled {
	-fx-opacity: 1.0 ;
}

.hangman-board > .board-grid > .label {
	-fx-font-size: 100pt ;
}

.status {
	-fx-font-size: 24pt ;
	-fx-text-fill: red ;
}